.form-stack{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-stack label{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-stack input{
    width: 50%;
}

.form-stack button{
    width: 20%;
}